<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar fixed-top">
      <%= link_to cocktails_path do %>
        <i class="fas fa-beer"></i>
      <% end %>
      <%= link_to "New Cocktail", new_cocktail_path, class: "button-new" %>
    </div>
    <%= yield %>
  </body>
</html>
